<footer class="footer-area footer-area--gray">
    <div class="container">
        <div class="footer-widget-wrraper p-b-100">
            <div class="row">
                <div class="col">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5 mb-3">{{ landing_data.footer.title }}</h5>
                            <p class="widget-text ls-40">{{landing_data.footer.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-wrapper text-center">
            <p class="ls-40">&copy; {{ 'now' | date: "%Y" }} Convene. All rights reserved.</p>
        </div>
        <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    </div>
</footer>
