<div class="header-logo d-flex align-items-center">
    <a href="{{'/' | relative_url}}"><img src="{{site.logo}}" alt="{{site.title}}"></a>
    <div class="header-logo-text text-white ml-3">
        <p class="big-font4">Convene</p>
        <p class="small">Chat for everyone</p>
    </div>
</div>
