<header class="header-area header-area--gray {% if page.layout == "page" or page.layout == "category" or page.layout == "post" or  page.layout == "author" %}page-area{% endif %}">
    <div class="container">
        <div class="header-lang bg-color-black text-center text-md-right width--full">
		<!--
            <ul class="list-inline mb-0">
                <li class="list-inline-item mr-4">
                    <a class="small text-light" href="#">中文(香港)</a>
                </li>
                <li class="list-inline-item mr-4">
                    <a class="small text-light" href="#">ئۇيغۇرچە</a>
                </li>
                <li class="list-inline-item">
                    <a class="small text-light" href="#">English</a>
                </li>
            </ul>
		-->
        </div>
        <div class="header-nav">
            <div class="row align-items-center">
                <div class="col col-lg-3">
                    {% include header_logo.html %}
                </div>
                <div class="col col-lg-9">
                    <div class="d-flex justify-content-end header-cta">
                        <a href="#cta-modal" data-toggle="modal" class="btn btn-bordered border--white rounded-pill">FOR YOUR ORGANIZATION</a>
                    </div>
                    {%comment%}
                        {% include navigation.html %}
                    {%endcomment%}
                </div>
            </div>
        </div>
        {% if page.url == "/" %}
            <div class="header-banner">
                <div class="row">
                    <div class="col-md-8">
                        <div class="banner-content">
                            <h1 class="big-font1 white-text m-b-30">{{ landing_data.hero-section.title }}</h1>
                            <h5 class="white-text m-b-30 ls-40">{{ landing_data.hero-section.text }}</h5>
                            <ul class="text-white m-b-40">
                                {% for item in landing_data.hero-section.list %}
                                    <li class="ls-40">{{ item }}</li>
                                {% endfor %}
                            </ul>
                            <a href="{{ landing_data.hero-section.button-url }}" class="open-btn btn btn-primary rounded-pill">{{ landing_data.hero-section.button-text | upcase }}</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="banner-mockup">
                            <picture>
                                <source srcset="{{site.baseurl}}{{ landing_data.hero-section.image-webp }}" type="image/webp">
                                <source srcset="{{site.baseurl}}{{ landing_data.hero-section.image[0] }}" type="image/png">
                                <img src="{{site.baseurl}}{{ landing_data.hero-section.image[0] }}" alt="{{ landing_data.hero-section.image[1] }}" />
                            </picture>
                            <!-- <img src="{{site.baseurl}}{{ landing_data.hero-section.image[0] }}" alt="{{ landing_data.hero-section.image[1] }}" /> -->
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if page.layout == "page" %}
            <div class="header-page-title">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title text-center white-all">
                        <h1 class="big-font1">{{page.title}}</h1>
                    </div>
                </div>
            </div>
            </div>
        {% endif %}

        {% comment %}
            {% include header_shape.html %}
        {% endcomment %}
    </div>
</header>
